*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
    color: rgb(136, 187, 221);
    text-decoration-color: initial;
    background-color: transparent;
}

h3, h4 {
    display: inline;
    font: 400 16px/1.5 "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

blockquote {
    background-color: rgb(61, 64, 67);
    border-top-color: rgb(92, 92, 92);
    border-right-color: rgb(92, 92, 92);
    border-bottom-color: rgb(92, 92, 92);
    border-left-color: rgb(92, 92, 92);
    color: rgb(186, 181, 171);
    border: 1px dashed #333;
    font-style: italic;
    margin-top: 4px;
    padding: 2px;
}

blockquote > p {
    padding: 0;
    margin-bottom: 0 
}

ol, ul {
    list-style-type:none 
}

h1, h2 {
    text-align: center;
}

footer, footer > p {
    text-align: center;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

nav {
    height: 32px;
    margin: auto;
    width: 50%;
    text-align: center;
    display: inline-block;
    font-family:"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.4;
    color:#ccc;
    background-color:#181818 
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #333;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-color: rgb(92, 92, 92);
    color: rgb(224, 222, 218);
    display: inline-block;
}

.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    top: 0;
}

.navbar, .navbar>.container, .navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    display: inline-block;
}

nav.navbar li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

nav.navbar ul:last-child {
    min-width: 200px;
    justify-content: flex-end;
}

nav.navbar ul.main-nav, nav ul li a{
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: inline-block;
    color: #eee;
    font-size: 16px;
    font-weight: 700;
}

a.nav-link {
    color: #eee;
}

.page-content {
    padding-top: 32px;
}

.navbar-nav {
    margin:0 auto;
    display: inline-block;
    align-content: center;
}

nav.navbar li.active, nav.navbar li.active a.nav-link {
    background-color: #eee;
    color: #000;
    text-decoration-color: initial;
    height: 31px;
}

header.hero {
    background-color: #000;
    background-image: url(/images/mosaic-banner-fade-192px.jpg);
    background-position: top left;
    border-bottom: 1px solid #333;
}

header.hero h1 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
    padding: 20px 0;
}

.global {
    padding-top: 32px;
}

img.flag {
    height: 24px 
}

footer div.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer.eol p {
    color: #777;
    font-size: 12px;
    text-align: center;
}

.socialmedia div {
    text-align: center;
}
