<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.url == "/"%}index{% else %}{{page.url | replace: '/', ''}}{% endif%}">
    {% include menu.html %}
    <div class="global">
      <header class="hero">
        <h1>Global Achievement Hunting Community</h1>
      </header>
      <main>
        <div class="wrapper">
          <h1>Staff</h1>

          <h2>Moderators</h2>
          {% assign sorted_mods = site.data.staff_mods | sort_natural: "name" %}
          {% for mod in sorted_mods %}
          <table class="staff moderator">
            <thead>
              <tr>
                  <td class="name">{{ mod.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{mod.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{mod.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://astats.astats.nl/astats/User_Info.php?SteamID64={{mod.steam64}}"><img src="/images/content/astats_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{mod.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if mod.exophase %}<a href="https://www.exophase.com/user/{{mod.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if mod.mgs %}<a href="https://metagamerscore.com/profile/{{mod.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if mod.twitter %}<a href="https://twitter.com/{{mod.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if mod.twitch %}<a href="https://www.twitch.tv/{{mod.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if mod.youtube %}<a href="https://www.youtube.com/user/{{mod.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="headshot">
                  <img src="/images/staff/{{mod.name | downcase}}.jpg">  
                </td>
                <td class="description">
                    {% for p in mod.description  %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          {% endfor %}

          <h2>Ambassadors</h2>
          {% assign sorted_ambassadors = site.data.staff_ambassadors | sort_natural: "name" %}
          {% for ambassador in sorted_ambassadors %}
          <table class="staff ambassador">
            <thead>
              <tr>
                  <td class="name">{{ ambassador.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{ambassador.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{ambassador.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{ambassador.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if ambassador.exophase %}<a href="https://www.exophase.com/user/{{ambassador.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if ambassador.mgs %}<a href="https://metagamerscore.com/profile/{{ambassador.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if ambassador.twitter %}<a href="https://twitter.com/{{ambassador.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if ambassador.twitch %}<a href="https://www.twitch.tv/{{ambassador.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if ambassador.youtube %}<a href="https://www.youtube.com/user/{{ambassador.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="headshot">
                  <img src="/images/staff/{{ambassador.name | downcase}}.jpg">  
                </td>
                <td class="description">
                    {% for p in ambassador.description  %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          {% endfor %}

        <h2>Verification Staff</h2>
          {% assign sorted_verifiers = site.data.staff_verifiers | sort_natural: "name" %}
          {% for verifier in sorted_verifiers %}
          <table class="staff verifier">
            <thead>
              <tr>
                  <td class="name">{{ verifier.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{verifier.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{verifier.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{verifier.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if verifier.exophase %}<a href="https://www.exophase.com/user/{{verifier.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if verifier.mgs %}<a href="https://metagamerscore.com/profile/{{verifier.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if verifier.twitter %}<a href="https://twitter.com/{{verifier.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if verifier.twitch %}<a href="https://www.twitch.tv/{{verifier.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if verifier.youtube %}<a href="https://www.youtube.com/user/{{verifier.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
          </table>
          {% endfor %}
          
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
