<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.url == "/"%}index{% else %}{{page.url | replace: '/', ''}}{% endif%}">
    {% include menu.html %}
    <div class="global">
      <header class="hero">
        <h1>Global Achievement Hunting Community</h1>
      </header>
      <main>
        <div id="root"></div>
        {{ content }}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
